* {
  margin: 0;
  padding: 0;
}

.popup {
  position: fixed;
  top: 47.5%;
  left: 47.5%;
  width: 300px;
  margin-top: -100px;
  margin-left: -150px;
  z-index: 2;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.733);
  z-index: 1;
}
